*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #a18cd1,#fbc2eb);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}
.container h1{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 42px;
    font-weight: 600;
    gap: 6px;
}
.container h1 img{
    width: 40px;
    height: auto;
    margin-top: 4px;
    
    
}
.container button img{
    width: 25px;
    margin-right: 8px;

}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#6a4fbf, #a676e8);
    color: #fff;
    font-size: 18px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 25px 0 15px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}